body {
  margin: 0;
}

.translator {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
  &_container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    &_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
      &_submit {
        padding: 1em;
      }
    }
  }
}
